<h1>ユーザ一覧</h1>

<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>

<% @users.each do |e| %>
<p>
    <%= e.uid %>
    <%= e.pass %>
    <%= link_to '削除', user_path(e), method: :delete %>
</p>
<% end %>

<p><%= link_to '新規登録', new_user_path %></p>

<p><%= link_to '戻る', :back %></p>

<% if current_user %>
  <p><%= link_to 'ログアウト', top_logout_path %></p>
<% else %>
  <p><%= link_to 'ログイン', top_login_path %></p>
<% end %>

<% if session[:login_uid] %>
    <p>login中</p>
    <p><%= session[:login_uid] %></p>
<% end %>