<h1>新規登録</h1>

<%= form_for @user, url: {action: :create} do |f| %>
<center>
  <div class = "a">
    <%= f.label :uid, 'ユーザID' %>
    <%= f.text_field :uid %>
    <br>
    <br>
    <%= f.label :uid, 'パスワード' %>
    <%= f.password_field :pass %>
    <br>
    <br>
    <%= f.label :uid, 'パスワード確認用' %>
    <%= f.password_field :pass %>
    <br>
    <br>
　  <input type="submit" value="登録する" class="button">
　</div>
</p>
<% end %>

<p><%= link_to '戻る', top_login_path %></p>
</center>
