<h1>メモレコ</h1>

<% user = User.find_by(uid: session[:login_uid]) %>
<% @memos.each do |m| %>
<p>
    <% User.find(m.user_id).uid %>
    <%= link_to m.title, "/memos/#{m.id}"%>
    <% if current_user and m.user_id == current_user.id %>
     <%= link_to '編集', "/memos/#{m.id}/edit" %>
     <%= link_to '削除', "/memos/#{m.id}",method: :delete %>
    <% end %>
    <% if current_user %>
     <% if Like.find_by(user_id: user.id, memo_id: m.id) %>
       <%= link_to '♥️', like_path(m), method: :delete %>
     <% else %>
       <%= link_to '♡', likes_path(memo_id: m.id), method: :post %>
     <% end %>
    <% end %>
</p>
<% end %>






<% if session[:login_uid] %>
    <p>login中</p>
    <p><%= session[:login_uid] %></p>
<% end %>


<div class = "simple_square_btn">
<%= link_to '新規追加','/memos/new' %>
<%= link_to 'ログアウト', top_logout_path %>
</div>