<h1>投稿ページ</h1>

<%= form_for @memo, url: {action: :create} do |form| %>
  <p>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
    <br>
    <%= form.label :directer, "監督" %>
    <%= form.text_field :directer %>
    <br>
    <%= form.label :release, "公開日" %>
    <%= form.text_field :release %>
    <br>
    <%= form.label :memo, "レビュー" %>
    <%= form.text_area :memo %>
    <br>
    <br>
    <input type="submit" value="投稿する" class="button">
  </p>
<% end %>


<p><%= link_to '戻る', root_path %></p>
