<h1>詳細ページ</h1>

<p>
    <strong>タイトル：</strong>
    <%= @memo.title %>
</p>
<p>
    <strong>監督：</strong>
    <%= @memo.directer %>
</p>
<p>
    <strong>公開日：</strong>
    <%= @memo.release %>
</p>
<p>
    <strong>レビュー：</strong>
    <%= @memo.memo %>
</p>

<%= link_to '戻る','/' %>