// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-family: 'Hannotate SC',sans-serif;
    font-size: 40px;
    background-color: #afeeee;
}
.a {
    font-size: 30px;
}
.button {
  display: inline-block;
  border-radius: 5%;         
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px;
  background: #ffffff;
  color: #000000;
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 3px #cccccc;
  border: 2px solid #000000;
}
.button:hover {
  box-shadow: none;
  color: #ffffff;
  background: #000000;
}
