<h1>メモレコ</h1>

<% if flash[:info] %>
    <%= flash[:info] %>
<% end %>

<%= form_tag top_login_path, method: :post do %>
  <center>
    <div class = "a">
    <%= label_tag :uid, 'ユーザID' %>
    <%= text_field_tag :uid %>
    <br>
    <br>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %>
    <br>
    <br>
　　<input type="submit" value="ログイン" class="button">
　　</div>
<% end %>

<p>
  初めての方はこちら
  <%= link_to '新規登録', new_user_path %>
  </center>
</p>
  